# Required
QUERY_STRING_SECRET=
COOKIE_SESSION_SECRET=
WATSON_INTEGRATION_ID=
WATSON_INTEGRATION_REGION=eu-de
WATSON_SERVICE_INSTANCE_ID=
WATSON_RSA_KEY="-----BEGIN RSA PRIVATE KEY-----\nxxxxxxxxxxxxxx\n-----END RSA PRIVATE KEY-----"

# Optional
PORT=3000
ENVIRONMENT=development
COOKIE_MAX_AGE=31536000000
JWT_MAX_AGE=3600000
